  <div class="flex  items-center text-center my-10">
    <h1 class="font-bold text-4xl w-full flex-none">Messages</h1>
  </div>

  <div class="flex h-screen pb-24 w-full" data-controller="conversations">
      <div id="conversations" class="  w-2/6 flex-none border-r border-t pl-2 py-2 border-gray-200 rounded">
        <div >Search Bar</div>
        <div class="custom_scroll_bar h-screen sm:h-5/6 overflow-x-hidden overflow-y-scroll ">
            <%= render @conversations %>
        </div>
      </div>
      <%= turbo_frame_tag "messages", class: "flex-none flex items-center justify-center  h-screen sm:h-full  w-4/6 " do %>
            <%= image_tag("icons/loading.gif") %>
      <% end %>
  </div>
</div>
